* {
    padding: 0;
    margin: 0;
    font-family: 'montserrat', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-size: 14px;
    --header: ;
    --header-tab-height: 32px;
    --header-alt-height: 26px;
    --header-close: #E4665C;
    --header-close-second: #E71D36;
    --header-bacground: #011627;
    --header-color: #FDFFFC;
    --body: ;
    --body-grid-var: calc(var(--header-tab-height) + var(--header-alt-height));
    --main: ;
    --main-bacground: #FDFFFC;
    --main-color: #1E2429;
    --button: ;
    --button-bacground: #2EC4B6;
    --button-color: #1E2429;
}

#DRAG {
    grid-area: drag;
    -webkit-app-region: drag;
}

body, header, main {
    overflow: hidden;
}

body, header {
    display: grid;
}

#Tabs, header nav ul, .alt {
    flex-direction: row;
}

body {
    grid-template-columns: 100%;
    grid-template-rows: var(--body-grid-var) auto;
    grid-template-areas: "header" "main";
}

/********************/

/* HEADERS */

header {
    grid-area: header;
    background: var(--header-bacground);
    color: var(--header-color);
    grid-template-columns: auto 1fr auto;
    grid-template-rows: calc(var(--header-alt-height)) var(--header-tab-height);
    grid-template-areas: "alt drag nav" "tabs tabs tabs";
}

header nav {
    grid-area: nav;
}

header nav ul {
    display: flex;
}

header nav ul div {
    width: calc(var(--header-alt-height) + 12px);
    height: calc(var(--header-alt-height));
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul div:hover {
    background: rgba(253, 255, 252, 0.2);
}

header nav ul div img {
    width: calc(var(--header-alt-height) - 8px);
    filter: invert(1);
}

/********************/

/* ALTS */

.alt {
    grid-area: alt;
    display: flex;
}

.alt a {
    height: 100%;
    padding: 0 8px;
    line-height: var(--header-alt-height);
    cursor: default;
}

.alt a:hover {
    background: rgba(253, 255, 252, 0.2);
}

/********************/

/* TABS */

#Tabs {
    grid-area: tabs;
    display: flex;
}

#Tabs .tab {
    cursor: default;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}

#Tabs .tab.active {
    background: rgba(253, 255, 252, 0.3);
}

#Tabs .tab:hover {
    background: rgba(253, 255, 252, 0.2);
}

#close-btn:hover {
    background: var(--header-close-second);
}

/********************/

/* MAINS */

main {
    grid-area: main;
    height: calc( 100vh - var(--body-grid-var));
}

main #WorkSpace, main textarea {
    width: 100%;
    height: 100%;
}

main textarea {
    resize: none;
    padding: 8px;
    font-size: 16px;
    background: transparent;
}

.modal {
    grid-area: modal;
    /* display: none; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal.close {
    display: none;
}

.block {
    display: flex;
    width: 400px;
    height: auto;
    background: var(--header-bacground);
    border: 1px solid var(--header-bacground);
    flex-direction: column;
}

.block input, .block .text {
    padding: 8px;
}

.block .text {
    color: var(--main-bacground);
}

.block .button_s {
    display: flex;
    flex-direction: row;
}

.block .button_s .button {
    padding: 8px;
    min-width: 50%;
    max-width: 100%;
    background: #043863;
}

.block .button_s .button.cancel {
    background: #E4665C;
}

.block.x {
    display: none;
}